.menu-beer{
	margin: 70px 10px;
}

#enviar{
	width: 200px;
}

.btn-warning {
    background-color: #FF9500;
    border: 1px solid #eb8900;
    color: white;
    margin: 0 0 -40px 0;
}

.btn-warning:hover {
    background-color: #eb8900;
    border: 1px solid #c77400;
    color: white;
}

.btn-warning:focus {
    background-color: #eb8900;
    border: 1px solid #c77400;
    color: red;
}

textarea.form-control {
    height: 100px;
}